/**
 * COMPONENTS
 * Base Carousel
 * All Carousels should import this component.
 */

.pugpig-carousel,
.pugpig-carousel__items-wrapper
  position: relative

.pugpig-carousel__items-wrapper
  overflow: hidden

.pugpig-carousel__items
  +transition( all 350ms )
  overflow: hidden
  -webkit-backface-visibility: hidden
  -moz-backface-visibility: hidden
  -ms-backface-visibility: hidden
  > *
    @extend %ha

.pugpig-carousel__nav-button
  @extend %clickable
  @extend %disable-selection
  +transition( opacity 500ms )
  -webkit-backface-visibility: hidden
  -moz-backface-visibility: hidden
  -ms-backface-visibility: hidden
  position: absolute
  top: 50%
  z-index: 1

.pugpig-carousel__next-button
  right: 0

.pugpig-carousel__prev-button
  left: 0

.pugpig-carousel__item
  width: 100%
  float: left